$font-stack: Luckiest Guy, Arial;
$green: rgb(85, 107, 49);

body {
  font-family: $font-stack;
  font-size: 60px;
  background-color: $green;
  letter-spacing: 2px;
}

header, footer {
  color: white;
  text-align: center;
  margin: 30px 0;
}

footer {
  margin: 100px 0;
}

#game-body {
  margin: 0 auto;
  width: 60%;
}
