$font-stack: Luckiest Guy, Arial;
$green: rgb(85, 107, 49);

body {
  font-family: $font-stack;
  font-size: 50px;
  background-color: $green;
  letter-spacing: 2px;
}

header, footer {
  color: white;
  text-align: center;
  margin: 20px 0;
}

footer {
  font-size: 30px;
}

#game-body {
  margin: 0 auto;
  width: 70%;
}
