body {
  font-family: Open Sans, Arial, Sans Serif;
  background-color: #171717; }

h1, h2, h3, h4 {
  color: #E8E8E8;
  text-align: center; }

h1 {
  font-weight: bolder;
  font-size: 37px; }

h2 {
  font-weight: bold;
  font-size: 27px;
  line-height: 27px; }

h3 {
  font-weight: normal;
  font-size: 18px; }

h4 {
  font-weight: normal;
  font-size: 16px; }

i {
  margin-right: 15px;
  color: #E8E8E8; }

p, label, a {
  color: #E8E8E8;
  text-align: center; }

.active {
  color: #8C0000; }

.flex-container-center {
  display: flex;
  flex-flow: wrap;
  justify-content: center; }

.marker {
  color: yellow; }

.parallax {
  background: fixed, center, no-repeat;
  background-size: cover; }

.parallax-text {
  margin: auto;
  text-shadow: 2px 2px 5px #171717;
  font-size: 25px;
  font-weight: bolder;
  padding: 110px 0;
  max-width: 1200px; }

.section {
  background-color: #171717;
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 0; }

.shadow {
  text-shadow: 1px 2px #000000; }

header {
  background: url("images/backgrounds/header-background.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0 auto; }
  header .header-text-container {
    position: relative;
    top: 25vh; }
  header h1 {
    padding: 70px 0 0;
    text-shadow: -1px -1px 0 #171717, 1px -1px 0 #171717, -1px 1px 0 #171717, 1px 1px 0 #171717;
    line-height: 80px; }
  header h3 {
    font-style: italic;
    padding-top: 50px; }
  header h3:last-of-type {
    padding-top: 20px; }

.return-to-top {
  position: fixed;
  bottom: 10px;
  right: 5%;
  display: none;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: #222222;
  opacity: 0.8;
  border: solid 3px #E8E8E8;
  border-radius: 100%;
  cursor: pointer;
  z-index: 2; }

.logo {
  position: absolute;
  top: 2px;
  left: 15px;
  height: 78px;
  display: flex;
  align-items: center;
  padding: 0 10px; }

.logo i:hover {
  color: #8C0000;
  cursor: pointer; }

.logo-img {
  height: 78px; }

.logo-toggle-theme {
  display: none;
  color: white;
  font-weight: 700;
  margin-left: 30px;
  font-size: 18px; }

nav {
  position: relative;
  height: 50px;
  width: 100%;
  z-index: 1; }

.menu {
  position: fixed;
  height: 80px;
  background-color: #171717;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

nav li {
  display: inline;
  color: #E8E8E8;
  cursor: pointer;
  padding: 0 15px;
  font-size: 18px;
  font-weight: bold; }
  nav li a {
    color: inherit;
    text-decoration: none; }

nav li:last-of-type {
  padding-right: 30px; }

nav li:hover {
  color: #8C0000; }
  nav li:hover a {
    text-decoration: none;
    color: inherit; }

.menu ul {
  display: none; }

.menu-short, .menu-short a {
  background-color: #E8E8E8;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 20px 0 0;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 5px;
  position: relative; }

.menu-short span {
  display: block;
  width: 26px;
  height: 3px;
  border-radius: 1px;
  background-color: #171717;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0 5px; }

.chkbox-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 90%;
  cursor: pointer; }

input.chkbox-menu {
  opacity: 0; }

.menu-short-collapse {
  position: fixed;
  right: -160px;
  top: 80px;
  width: 160px;
  color: #E8E8E8;
  background-color: #171717;
  transition: right 2s;
  -webkit-transition: right 2s;
  padding-bottom: 10px;
  opacity: 0.9; }
  .menu-short-collapse span.menu-short-list {
    padding: 10px 0 10px 25px;
    border-bottom: 4px solid #8C0000; }
  .menu-short-collapse span.menu-short-list a {
    color: #E8E8E8;
    background: #171717; }
  .menu-short-collapse span.menu-short-list a:hover {
    color: #8C0000;
    background-color: #171717; }

.menu-short input:checked ~ .menu-short-collapse {
  right: 0; }

main {
  width: 100%;
  margin: 0 auto; }

#startup-sign-in {
  background-image: url("images/backgrounds/sign-up-background.jpg"); }

.startup-sign-in {
  text-align: center; }
  .startup-sign-in input[type=checkbox] {
    width: 15px;
    height: 15px;
    background: #171717; }

.startup-sign-in-short a {
  text-decoration: none; }

.startup-sign-in-short-pos {
  display: flex;
  justify-content: center;
  padding: 10px 0 100px; }

.app-redirect-short-pos {
  display: flex;
  justify-content: center;
  padding: 10px 0; }

input.startup-sign-in, .button, .disabled {
  background-color: #E8E8E8;
  color: #8C0000;
  border: 1px solid #8C0000;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000;
  padding: 2px 9px;
  margin: 2px 5px;
  font-size: 20px;
  text-shadow: none;
  font-family: Open Sans, Arial, Sans Serif; }

.button {
  background-color: #8C0000;
  color: #E8E8E8;
  font-weight: bold; }

.button:hover {
  background-color: #222222;
  border: 1px solid #222222;
  color: #E8E8E8;
  cursor: pointer; }

.disabled {
  background-color: #999;
  color: #000000; }

input.startup-sign-in {
  color: #222222;
  font-weight: normal;
  line-height: 30px; }

.startup-sign-in-info {
  padding: 10px 0 0;
  font-size: 14px; }

.startup-sign-in-agreement {
  font-size: 12px;
  padding: 3px 0;
  line-height: 14px;
  width: 80%;
  margin: 0 auto; }
  .startup-sign-in-agreement .marker {
    color: #E8E8E8;
    font-size: 15px; }

.icons-container {
  width: 100%;
  margin: 10px; }

.icons-container img {
  display: block;
  height: 100px;
  width: 100px;
  margin: auto;
  padding: 50px;
  background-color: #8C0000;
  border: 5px solid #E8E8E8;
  border-radius: 10%; }

.icons-container h2 {
  margin-top: 5px;
  font-size: 18px;
  text-transform: uppercase; }

.description-container {
  display: block;
  width: 90%;
  margin: auto 20px;
  color: #E8E8E8;
  font-size: 16px;
  text-align: center;
  line-height: 21px; }
  .description-container h2 {
    font-size: 22px;
    margin: 40px 10px 20px 10px;
    background-color: #8C0000;
    padding: 12px 0;
    border-bottom: 5px solid #E8E8E8; }
  .description-container p {
    padding: 10px 20px 0 20px; }

#premiere-counter {
  background-image: url("images/backgrounds/counter-background.jpg"); }
  #premiere-counter p {
    margin-top: 20px;
    font-size: 35px; }

.about-us h1 {
  text-transform: uppercase;
  margin: 0 30px 50px 30px; }

.about-us-container {
  width: 100%;
  margin-bottom: 10px; }
  .about-us-container h2 {
    margin-top: 10px;
    font-size: 22px;
    text-transform: uppercase; }
  .about-us-container > img {
    display: block;
    height: 200px;
    width: 200px;
    margin: auto;
    background-color: #E8E8E8;
    padding: 5px;
    border-radius: 100%; }
  .about-us-container a > img {
    max-width: 40px;
    max-height: 40px;
    margin: 10px 5px; }

#contact {
  width: 100%;
  padding: 20px 0;
  color: #E8E8E8;
  font-family: Open Sans, Arial, Sans Serif; }
  #contact h3 {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 5px; }

.starRequired {
  color: #8C0000; }

.contact-form {
  width: 60%;
  margin: 0 auto;
  background-color: #171717;
  border: 5px solid #E8E8E8;
  border-radius: 10px;
  padding: 30px; }
  .contact-form form {
    padding: 0 10px; }
  .contact-form label {
    display: block;
    padding: 8px 0;
    color: #E8E8E8;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase; }
  .contact-form .form-group {
    display: inline-block;
    width: 49%;
    margin-right: 3px;
    margin-bottom: 10px; }
  .contact-form .form-group:last-of-type {
    margin-right: 0; }
  .contact-form .form-area {
    width: 98%;
    border: 2px solid #E8E8E8;
    border-radius: 2px;
    background-color: #171717;
    color: #E8E8E8;
    line-height: 20px;
    font-size: 25px;
    font-family: Open Sans, Arial, Sans Serif; }
  .contact-form .button {
    display: block;
    position: relative;
    padding: 3px 9px;
    left: 70%;
    font-size: 30px;
    margin-top: 10px; }

.links {
  margin: 40px 0; }
  .links li {
    display: inline; }
    .links li a {
      color: #E8E8E8;
      text-decoration-line: none; }
    .links li a:hover {
      color: #8C0000; }

.copyright {
  text-align: center; }

@media (min-width: 576px) {
  .menu ul {
    display: block; }

  .menu-short {
    display: none; }

  header h1 {
    font-size: 62px; }
  header h2 {
    font-size: 38px; }
  header h3 {
    font-size: 22px; } }
@media (max-width: 768px) {
  .contact-form .form-group {
    width: 100%;
    margin-right: 0; }

  .contact-form .button {
    left: 60%; } }
@media (max-width: 576px) {
  .links li a:last-of-type {
    display: flex;
    justify-content: center;
    margin-top: 10px; }

  .contact-form .button {
    left: 30%; } }
@media (min-width: 576px) {
  #description h2 {
    font-size: 27px; } }
@media (min-width: 576px) {
  .icons-container {
    width: 40%; }

  .description-container {
    width: 75%; }

  .about-us-container {
    width: 39%;
    margin: 0 20px 10px 20px; } }
@media (min-width: 768px) {
  .icons-container {
    width: 32%; }

  .description-container {
    width: 65%; } }
@media (min-width: 992px) {
  .icons-container {
    width: 22%; }

  .description-container {
    width: 45%;
    min-height: 250px; }

  .about-us-container {
    width: 25%; } }
@media (min-width: 1200px) {
  .about-us-container {
    width: 20%; } }

/*# sourceMappingURL=style.css.map */
