
body {
    background-color: white;
    font-family: Open Sans, Arial, Sans Serif;
}
  background-color: #FFFFFF;

  font-family: Open Sans, Arial, Sans Serif; }

header {
  background-image: url("images/header_background_car.jpg");
  height: 600px;
  width: 1200px;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto; }

.navigate {
  position: relative;
  height: 50px;
  width: 100%; }

nav {
  position: fixed;
  height: 50px;

  background-color: #FF0000;
  width: 100%; }

.first-text {
  font-weight: 400;
  color: #FFFFFF;
  font-size: 70px;
  text-align: center; }

.second-text {
  font-weight: bolder;
  color: #FFFFFF;
  font-size: 100px;
  text-align: center; }

.startup-sign-in {
    margin: auto;
    text-align: center;
    color: #FFF;
    text-shadow: 2px 2px 5px #000;
    font-size: 27px;
    font-weight: bolder;
    padding: 70px 0px 0px;
}
  margin: auto;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 2px 2px 5px #000000;

  font-size: 27px;
  font-weight: bolder;
  padding: 70px 0px 0px; }

input.startup-sign-in, .button {
    background-color: #FFF;
    color: #FF0000;
    border: 1px solid #FF0000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    padding: 2px 9px;
    margin: 2px 5px;
    font-size: 20px;
    text-shadow: none;
}
input.startup-sign-in, .button {
  background-color: #FFFFFF;
  color: #FF0000;
  border: 1px solid #FF0000;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000;
  padding: 2px 9px;
  margin: 2px 5px;
  font-size: 20px;
  text-shadow: none;
  font-family: Open Sans, Arial, Sans Serif; }

.button {
  background-color: #FF0000;
  color: #fff;
  font-weight: bold; }

.button:hover {
  background-color: #222;
  border: 1px solid #222;
  color: #FFF;
  cursor: pointer; }

/* Beginning of #product-icons-section */
#product-icons-section {
  height: 400px;
  background-color: black; }

@media screen and (max-width: 950px) {
  #product-icons-section {
    height: 800px; } }
@media screen and (max-width: 950px) {
  .product-icons-line-break {
    width: 100%;
    display: flex;
    justify-content: center; } }
#product-icons-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.product-icons-line-break div {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  top: 60px; }

.product-icons {
  height: 100px;
  width: 100px;
  padding: 50px;
  background-color: red; }

.icons-underlines {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 700;
  color: red;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px; }

/* End of #product_icons section */
input.startup-sign-in {
  color: #222;
  font-weight: normal; }

.startup-sign-in-info {
    padding: 10px 0px 0px;
    font-size: 15px;
}
.button {
  background-color: #FF0000;
  color: #FFFFFF;
  font-weight: bold; }

.button:hover {
  background-color: #222222;
  border: 1px solid #222222;
  color: #FFFFFF;
  cursor: pointer; }

/* Beginning of #product-icons-section */
#product-icons-section {
  height: 400px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000; }

#product-icons-section div {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  top: 60px;
  left: 100px; }

.product-icons {
  height: 100px;
  width: 100px;
  padding: 50px;
  background-color: #FF0000; }

.icons-underlines {
  font-family: Open Sans, Arial, Sans Serif;
  font-size: 20px;
  font-weight: 700;
  color: #FF0000;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px; }

/* End of #product_icons section */
input.startup-sign-in {
  color: #222222;
  font-weight: normal; }

.startup-sign-in-info {
  padding: 10px 0px 0px;
  font-size: 15px; }

/*# sourceMappingURL=style.css.map */
