#icons span {
    display: inline-block;
    border: solid 10px red;
    border-radius: 100%;

}


#icons span div {
    color: red;
    font-size: 50px;
    padding: 50px;
}

/* */





.first-text {
    font-family: Open Sans, Sans Serif;
    font-weight: 100;
    color: black;
    font-size: 70px;
    text-align: center;
}

.second-text {
    font-family: Open Sans, Sans Serif;
    font-weight: 400;
    color: black;
    font-size: 100px;
    text-align: center;
}