$red: #FF0000;
$black: #000000;
$white: #FFFFFF;
$hover-black: #222222;
$font-stack: Open Sans, Arial, Sans Serif;

body {
    background-color: $white;
    font-family: $font-stack;
}

/* Begining of header and title section */

header {
    background-image: url("images/header_background_car.jpg");
    width: 100%;
    max-width: 1200px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    position: relative;
}

h1 {
    font-weight: 400;
    color: $white;
    font-size: 60px;
    text-align: center;
    padding: 10px 0;
}

h2 {
    font-weight: bolder;
    color: $white;
    font-size: 90px;
    text-align: center;
}

/* End of header and title section */

/* Begining of navigation section */

nav {
    position: relative;
    height: 50px;
    width:100%;
    max-width: 1200px;
}

.menu
{
    position: fixed;
    height: 50px;
    background-color: $black;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    display: inline;
    color: $white;
    cursor: pointer;
    padding: 0 20px;
    font-size: 20px;
    a {
        color: inherit;
        text-decoration: none;
    }
}

nav li:hover {
    color: $red;
    a {
        text-decoration: none;
        color:inherit;
    }
}

nav li:first-of-type:hover {
    cursor: default;
    color: $white;
}

/* End of navigation section */

/* Begining of startup-sign-in section */

.startup-sign-in {
    margin: auto;
    text-align: center;
    color: $white;
    text-shadow: 2px 2px 5px $black;
    font-size: 27px;
    font-weight: bolder;
    padding: 70px 0 20px;
}

input.startup-sign-in, .button {
    background-color: $white;
    color: $red;
    border: 1px solid $red;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    padding: 2px 9px;
    margin: 2px 5px;
    font-size: 20px;
    text-shadow: none;
    font-family: $font-stack;
}

.button {
    background-color: $red;
    color: $white;
    font-weight: bold;
}

.button:hover {
    background-color: $hover-black;
    border: 1px solid $hover-black;
    color: $white;
    cursor: pointer;
}

input.startup-sign-in {
    color: $hover-black;
    font-weight: normal;
}

.startup-sign-in-info {
    padding: 10px 0 0;
    font-size: 15px;
}

.startup-sign-in-agreement {
    font-size: 11px;
    padding: 3px 0;
    line-height: 14px;
}

/* End of startup-sign-in-section */

/* Beginning of #product-icons-section */

#product-icons-section {
    height: 400px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $black;
} //describes whole section

// Media screens below //

@media screen and (min-width: 861px) {
    .icons-flex-container {
        position: relative;
        top: 25px;
    }
}

@media screen and (max-width: 860px) {
    #product-icons-section {
        height: 630px;
    }
    .icons-860 {
        width: 100%;
    }
    .icons-flex-container {
        position: relative;
        top: 5px;
    }
}

@media screen and (max-width: 440px) {
    #product-icons-section {
        height: 1240px;
    }

}

// End of media screens //

.icons-flex-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
} //centers items using flex

.icons-display-container {
    display: inline-block;
} //used to wrap .svg + text in one div

.icons-images {
    height: 100px;
    width: 100px;
    padding: 50px;
    background-color: $red;
    margin-left: 15px;
    margin-top: 15px;
} //describes only .svg files

.icons-text {
    font-family: $font-stack;
    font-size: 20px;
    font-weight: 700;
    color: $red;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
} //describes only text under .svg files

/* End of #product_icons section */