/* Resolutions

Very large devices >= 1200px
Large devices: >= 992px
Medium devices: >= 768px
Small devices: >= 576px
Very small devices <576px
 */

$red: #8C0000;
$black: #171717;
$white: #E8E8E8;
$marker: yellow;
$hover-black: #222222;
$font-stack: Open Sans, Arial, Sans Serif;

/* Beginning of global classes */

.flex-container-center {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
} //centers items using flex

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} //used to create parallax bg

i {
  margin: 0 15px 0 0;
  color: $white;
}

.marker {
  color: $marker;
}

/* End of global classes */

body {
    font-family: $font-stack;
}

/* Beginning of header and title section */

header {
  background: url("images/header_background_car.jpg") no-repeat center; // background image for header
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

h1 { // Title in header section
  font-weight: 400;
  color: $white;
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
}

h2 { // Subtitle in header section
  font-weight: bolder;
  color: $white;
  font-size: 60px;
  text-align: center;
}

h4 { // Short description of page in header section
  font-size: 20px;
  color: $white;
  font-style: italic;
  padding-top: 20px;
  text-align: center;
}

/* End of header and title section */

/* Beginning of navigation section */

.logo { // logo
  position: absolute;
  top: -5px; left: 15px;
  font-size: 60px;
  color: $white;
}

.logo i:hover {
  color: $red;
  cursor: pointer;
}

nav {
  position: relative;
  height: 90px;
  width: 100%;
  max-width: 1200px;
  background-color: $black;
  z-index: 1;
}

.menu
{
  position: fixed;
  height: 90px;
  background-color: $black;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav li {
  display: inline;
  color: $white;
  cursor: pointer;
  padding: 0 15px;
  font-size: 18px;
  font-weight: bold;
  a {
    color: inherit;
    text-decoration: none;
  }
}

nav li:last-of-type {
  padding-right: 30px;
}

nav li:hover {
  color: $red;
  a {
    text-decoration: none;
    color:inherit;
  }
}

.menu ul {
  display: none;
}

.menu-short, .menu-short a {
  background-color: $white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 20px 0 0;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 5px;
  position: relative;
}

.menu-short span {
  display: block;
  width: 26px;
  height: 3px;
  border-radius: 1px;
  background-color: $black;
  margin-bottom:5px;
  margin-top:5px;
  padding: 0 5px;
}

.chkbox-menu {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
  width: 100%;
  height: 90%;
  cursor: pointer;
}

input.chkbox-menu {
  opacity: 0;
}

.menu-short-collapse {
  position: fixed;
  right: -160px;
  top: 89px;
  width: 160px;
  color: $white;
  background-color: $black;
  transition: right 2s; // transition effect for short menu
  -webkit-transition: right 2s; // transition effect for short menu
  padding-bottom: 10px;
  opacity: 0.9;

  span.menu-short-list {
    padding: 10px 0 10px 25px;
    border-bottom: 4px solid $red;
  }

  span.menu-short-list a {
    color: $white;
    background: $black;
  }

  span.menu-short-list a:hover {
    color: $red;
    background-color: $black;
  }
}

.menu-short input:checked~.menu-short-collapse {
  right: 0;
}


/* End of navigation section */

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Begining of startup-sign-in section */

#startup-sign-in {
  background-image: url("images/fiat-parallax-background.jpg");
}

.startup-sign-in {
  margin: auto;
  text-align: center;
  color: $white;
  text-shadow: 2px 2px 5px $black;
  font-size: 25px;
  font-weight: bolder;
  padding: 110px 0;
}

.startup-sign-in-short {
  a {
    text-decoration: none;
    color: $white;
    line-height: 40px;
  }
}


.startup-sign-in-short-pos {
  display: flex;
  justify-content: center;
  padding: 10px 0 40px;
}

input.startup-sign-in, .button {
  background-color: $white;
  color: $red;
  border: 1px solid $red;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000;
  padding: 2px 9px;
  margin: 2px 5px;
  font-size: 20px;
  text-shadow: none;
  font-family: $font-stack;
}

.button {
  background-color: $red;
  color: $white;
  font-weight: bold;
}

.button:hover {
  background-color: $hover-black;
  border: 1px solid $hover-black;
  color: $white;
  cursor: pointer;
}

input.startup-sign-in {
  color: $hover-black;
  font-weight: normal;
  line-height: 30px;
}

.startup-sign-in-info {
  padding: 10px 0 0;
  font-size: 14px;
}

.startup-sign-in-agreement {
  font-size: 10px;
  padding: 3px 0;
  line-height: 14px;
  width:80%;
  margin: 0 auto;
}

/* End of startup-sign-in-section */

/* Beginning of #product-icons-section */

#product-icons-section {
  background-color: $black;
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 0;
} //describes whole section

.icons-display-container {
  display: inline-block;
  margin: 10px 20px;
} //used to wrap .svg + text in one div

.icons-images {
  height: 100px;
  width: 100px;
  padding: 50px;
  background-color: $red;
  margin-bottom: 5px;
  border: 5px solid $white;
  border-radius: 10%;

} //describes only .svg files

.icons-text {
  font-family: $font-stack;
  font-size: 18px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  text-align: center;
} //describes only text under .svg files

/* End of #product_icons section */

/*Beginning of about-us section */

#about-us {
  background-color: $black;
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 0;
} //describes whole section

#about-us > h2 {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 50px;
}

.about-us-display-container {
  display: inline-block;
  margin: 10px 20px;
} //used to wrap .svg + text in one div

.about-us-images {
  height: 200px;
  width: 200px;
  background-color: $white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 100%;
} //describes only .svg files

.about-us-text {
  font-family: $font-stack;
  font-size: 22px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  text-align: center;
} //describes only text under .svg files

#about-us a > img {
  max-width: 40px;
  max-height: 40px;
  margin: 10px 5px;
} //describes social icons

/*End of about-us section */

/*Beginning of contact section */
footer {
  margin-top: 10px;
}
h3 {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}
#contact {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  color: $white;
  background-color: $black;
  font-family: $font-stack;
}
.starRequired {
  color: $red;
}
.contact-form {
  width: 60%;
  margin: 0 auto;
  background-color: $black;
  border: 5px solid $white;
  border-radius: 10px;
  padding: 30px;
  form {
    padding: 0 10px;
  }
  label {
    display: block;
    padding: 8px 0;
    color: $white;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }
  .form-group {
    display: inline-block;
    width: 47%;
    margin-right: 12px;
  }
  .form-area {
    width: 98%;
    border: 2px solid $white;
    border-radius: 2px;
    background-color: $black;
    color: $white;
  }
  .button {
    display: block;
    position: relative;
    top: 60%;
    left: 80%;
    font-size: 13px;
    margin-top: 10px;
  }
}
.links {
  display: flex;
  justify-content: center;
  margin: 40px 0;
    li {
      display: inline;
      a {
        color: $white;
        text-decoration-line: none;
      }
      a:hover {
        color: $red;
      }
    }
  }
.copyright {
  text-align: center;
    }
/*End of contact section */

    // Media screens below //

    @media (min-width: 576px) {
      .menu ul {
        display: block;
      }
      .menu-short {
        display: none;
      }
      h1 {
        font-size:50px;
      }
      h2 {
        font-size: 70px;
      }
      h4 {
        font-size: 25px;
      }
    }



// End of media screens
